.container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.map {
  margin: 0 auto;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.contact {
  gap: 2.5rem;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.contact li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.element h5 {
  font-size: var(--fontSize-large);
}
.contact {
  font-size: var(--fontSize-small);
}
.contact ion-icon {
  color: var(--color-complementary);
}
