.container {
  overflow: hidden;
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.sliderItems {
  display: flex;
  overflow: unset;
  will-change: transform, transition;
}

.sliderItem {
  flex: 0 0 20%;
  max-width: 20%;
}

.sliderItem img {
  width: 100%;
  height: 100%;
}
