.main_container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 10rem;
  border-right: 2px solid #eee;
}

.main_title {
  font: inherit;
  font-size: var(--fontSize-extraLarge);
  position: relative;
  font-weight: 600;
}
.main_image img {
  display: block;
  border-radius: 2rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.main_text {
  width: 50rem;

  font-size: var(--fontSize-small);
}
.main_image {
  display: block;
  overflow: hidden;
  height: 60%;
  width: 60%;
  object-fit: contain;
}
.main_title::after {
  position: absolute;
  text-align: center;
  content: "";
  left: 45%;
  bottom: -30%;
  background-color: var(--color-complementary);
  width: 15%;
  height: 3px;
  transition: all 0.3s;
}
@media (max-width: 1000px) {
  .main_image {
    height: 50%;
    width: 50%;
  }
}
.main_text {
  width: 50rem;

  font-size: var(--fontSize-small);
}
@media (max-width: 430px) {
  .main_text {
    width: 40rem;
  }
}
