.icons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}
.icons {
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
