@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("./variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Pathway Gothic One", sans-serif;
  background-color: var(--bg-primary);
  color: var(--font-primary);
}
img,
video,
svg {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
p {
  line-height: 1.1;
  margin-top: 0;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: var(--font-primary);
}
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--btn-secondary);
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: var(--color-complementary);
}
