:root {
  /* width */
  --website-width: 120rem;

  /* Project color palette */
  --color-primary: #fff;
  --color-secondary: #fff7c5;
  --color-complementary: #ed5959;

  /* Bg color */
  --bg-primary: #fff;
  --bg-secondary: #F0F0F0;


  /* Buttons colors */
  --btn-primary: linear-gradient(to right bottom, var(--color-secondary), var(--color-complementary));
  --btn-secondary: #252525;

  /* font colors */
  --font-primary: #594545;
  --font-secondary: #fff;
  --font-tertiary: #fff;

  /* Padding variables */
  --min-padding: 1.5rem;
  --padding-base: 2rem;
  --padding-large: 3rem;
  --padding-xlarge: 4rem;
  --padding-xxlarge: 5rem;

 /* Box shadows */
  --boxshadow-primary:box-shadow: 0 2rem 6rem 0.5rem rgba(14, 12, 12, 0.375);

 /*Font Size */
 --fontSize-minimal:1.4rem;
 --fontSize-medium:1.8rem;
 --fontSize-large:2.2rem;
}
