:root {
  /* width */
  --website-width: 120rem;

  /* Project color palette */
  --color-primary: #fff;
  --color-secondary: #fff7c5;
  --color-complementary: #c3252f;

  /* Bg color */
  --bg-primary: #fff;
  --bg-secondary: #f0f0f0;
  --bg-tertiary: linear-gradient(180deg, #f0f0f0 20%, #fff 80%);

  /* Buttons colors */
  --btn-primary: var(--color-complementary);
  --btn-secondary: #252525;

  /* font colors */
  --font-primary: #594545;
  --font-secondary: #2d2323;
  --font-tertiary: #9b8f8f;

  /* Padding variables */
  --min-padding: 1.5rem;
  --padding-base: 2rem;
  --padding-large: 3rem;
  --padding-xlarge: 4rem;
  --padding-xxlarge: 5rem;

  /* Box shadows */
  --boxshadow-primary: 0 2rem 6rem 0.5rem rgba(14, 12, 12, 0.375);
  --boxshadow-secondary: 0 2.4rem 4.8rem rgba(0, 0, 0, 1);

  /* Font sizes */
  --fontSize-small: 1.6rem;
  --fontSize-medium: 2.4rem;
  --fontSize-large: 3rem;
  --fontSize-extraLarge: 4.4rem;
}
@media (max-width: 1205px) {
  :root {
    --website-width: 100rem;
  }
}
