.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main_image img {
  height: 70rem;
  width: 100%;
}
.footer {
  position: relative;
  overflow: hidden;
  border-top: 2px solid #eee;
}

.aside_container {
  margin-top: 5rem;
}
.links_container {
  display: flex;
  position: sticky;
  justify-content: center;
  top: 10%;
}
@media (max-width: 1000px) {
  .aside_container {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
