.sectionWidth {
  max-width: min(var(--website-width), 90vw);
  margin: auto;
  width: 100%;
}
.header {
  height: 70rem;
  position: relative;
}
.perks {
  overflow: hidden;
  background-image: url("../../../../public/assets/img/perks/concrete.png");
  background-repeat: repeat;
  background-position: right top;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 4rem;
  gap: 4.2rem;
}
.about {
  display: flex;
  justify-content: center;
  background-image: var(--bg-tertiary);
}
.offer {
  background-image: url("../../../../public/assets/img/offer/car-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.branch {
  margin: 0 auto;
}
