.title {
  position: absolute;
  font-size: var(--padding-xlarge);
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header_img {
  position: absolute;
  width: 100%;
  bottom: -60%;
  z-index: -1;
}
.header {
  height: 70rem;
  position: relative;
}
.header_static {
  height: 30rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 877px) {
  .header {
    height: 60rem;
  }
}
