.image {
  width: 100%;
  opacity: 0;
  height: 100%;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
  transition: opacity 1s;
}
.disable {
  display: none;
}
.loaded {
  opacity: 1;
}
.header {
  top: 0;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(163, 163, 163, 0.439);
}
.header ion-icon[data-set="left"] {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: 50%;
  cursor: pointer;
  margin-left: 2rem;
  transition: all 0.3s;
  color: whitesmoke;
}
.header ion-icon[data-set="right"] {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: 50%;
  right: 0%;
  z-index: 3;
  cursor: pointer;
  margin-right: 2rem;
  transition: all 0.3s;
  color: whitesmoke;
}

.header ion-icon[data-set="right"]:hover,
.header ion-icon[data-set="left"]:hover {
  transform: translateY(-5px);
  background: rgba(74, 73, 73, 0.566);
}
