.enterActive,
.exitActive {
  transition: 2s cubic-bezier(0.69, 0.08, 0.09, 0.98);
}

.enter {
  opacity: 0;
  transform: scale(1);
}
.enterActive {
  opacity: 1;
  transform: scale(1);
}
.exit {
  transform: scale(1);
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transform: scale(1.2);
}
