.image {
  width: 100%;
  opacity: 0.4;
  height: 100%;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
}
.header ion-icon[data-set="left"] {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: 50%;
}
.header ion-icon[data-set="right"] {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  top: 50%;
  right: 0%;
  z-index: 3;
}
